name: Website Deployment
on:
 push:
   branches:
     - master
jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3  
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-dep-${{hashFiles('**/package-lock.json')}}
      - name: Install dependencises
        run: npm ci
      - name: Test the code
        run: npm run test
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json

  build_job:
    needs: test_job
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-dep-${{hashFiles('**/package-lock.json')}}
      - name: Install dependencises
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  deploy_job:
    needs: build_job
    runs-on: ubuntu-latest
    steps:
    
      - name: Deploy to Azure Web App (Publish Profile)
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ./artifact
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}           

