name: Website Deployment
on:
 push:
   branches:
     - master
jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-dep-${{hashFiles('**/package-lock.json')}}
      - name: Install dependencises
        run: npm ci
      - name: Test the code
        continue-on-error: true
        id: run-test
        run: npm run test
      - name: Upload test report       
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json

  build_job:
    needs: test_job
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22        
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-dep-${{hashFiles('**/package-lock.json')}}
      - name: Install dependencises
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  deploy_job:
    needs: build_job
    uses: ./.github/workflows/reusable.yml
